<table class="grid">
    <thead>
    <tr>
        <th>Name</th>
        <th>Matches</th>
        <th>+</th>
        <th>-</th>
        <th>Win %</th>
    </tr>
    </thead>
    <tbody>
    <% @team.members.each do |member| %>
    <tr>
        <td><%= link_to member.alias, team_member_path(@team, member) %></td>
        <td><%= member.matches.length %></td>
        <td><%= member.plus %></td>
        <td><%= member.minus %></td>
        <td><%= percentage(member.wins.length, member.matches.length) %></td>
    </tr>
    <% end %>
    </tbody>
</table>
