<h2><%= @team.name %> - <%= link_to 'edit', edit_team_path(@team)%></h2>

<p><%= link_to "New Member", new_team_member_path(@team) %></p>
<p><%= link_to "New Match", new_season_match_path(@season) %></p>

<h3>Members</h3>
<%= render 'team_members_grid' %>

<%= render 'team_matches_grid' %>
