<h2><%= @team.name %></h2>

<h3>Members</h3>
<p><%= link_to "New Member", new_team_member_path(@team) %></p>
<p>
<% @team.members.each do |member| %>
    <%= member.alias %><br>
<% end %>
</p>
<hr>

<h3>Leagues</h3>
<p>
    <i>not hooked up yet</i>
</p>
<% @leagues.each do |l| %>
    <div>
        <%= l.name %>
    </div>
<% end %>

<h3>Matches</h3>

<% @team.all_matches.each do |m| %>
    <%= link_to "#{m.home_team.name} vs. #{m.away_team.name}", match_path(m) %><br>
<% end %>
