<table class="grid season_grid monospaced">
    <thead>
    <tr>
        <th>#</th>
        <th>Team</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ties</th>
        <th>Win Percent</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <% @teams.each_with_index do |team, i| %>
    <tr>
        <td><%= i+1 %></td>
        <td><%= link_to team.tag, season_team_path(@season, team) %></td>
        <td><%= team.wins.length %></td>
        <td><%= team.losses.length %></td>
        <td><%= team.ties.length %></td>
        <td><%= team.win_percentage %>%</td>
        <td><%= team.total_points %></td>
    </tr>
    <% end %>
    <tbody>
</table>

