<h1>Matches#new</h1>

<%= form_for [@season, @match] do |f| %>
<%= errors_for @match %>
<div class="span-24">
    <div class="span-12">
        <h2>Home</h2>
        <p>
            <%= f.collection_select :home_team_id, @season.teams, :id, :name, :prompt => true %>
        </p>
        <hr>
        <p>
            <%= f.label :home_team_score %><br>
            <%= f.text_field :home_team_score %>
        </p>
    </div>

    <div class="span-12 last">
        <h2>Away</h2>
        <p>
            <%= f.collection_select :away_team_id, @season.teams, :id, :name, :prompt => true %>
        </p>
        <hr>
        <p>
            <%= f.label :away_team_score %><br>
            <%= f.text_field :away_team_score %>
        </p>
    </div>
</div>

<h3>Map</h3>
<div class="span-24">
<p>
<%= f.collection_select :map_id, Map.all, :id, :name, :prompt => true %>
</p>

<%= f.submit 'Advance to Player Stats' %>

<% end %>
