<h1>Matches#show</h1>
<p>
    <%= link_to 'back to season', season_path(@match.season) %>
</p>
<div class="span-24">
    <div class="span-12">
        <h2><%= @match.home_team.name %> <%= @match.home_team_score %></h2>
        <hr>
        <h3>Player Stats</h3>
        <table>
            <tr>
                <th>player</th>
            </tr>
            <% @match.home_records.each do |r| %>
                <tr>
                    <td><%= r.member.alias %></td>
                </tr>
            <% end %>
        </table>
    </div>

    <div class="span-12 last">
        <h2><%= @match.away_team.name %> <%= @match.away_team_score %></h2>
        <hr>
        <h3>Player Stats</h3>

        <table>
            <tr>
                <th>player</th>
            </tr>

        <% @match.away_records.each do |r| %>
            <tr>
                <td><%= r.member.alias %></td>
            </tr>
        <% end %>
        </table>

    </div>
</div>
