<div>
    <%= f.label :alias %><br>
    <%= f.text_field :alias %>
</div>

<div>
    <%= f.label :real_name %><br>
    <%= f.text_field :real_name %>
</div>

<div>
    <%= f.check_box :active %>
    <%= f.label :active %>
</div>

<div>
    <%= f.submit %>
</div>
