<table class="grid">
    <thead>
    <tr>
        <th>Map</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ties</th>
        <th>Total</th>
        <th>Win%</th>
        <th>+</th>
        <th>-</th>
        <th>Total%</th>
    </tr>
    </thead>
    <tbody>
    <% Map.all.each do |map| %>
    <tr>
        <td><%= map.name %></td>
        <td><%= @member.map_wins(map).length %></td>
        <td><%= @member.map_losses(map).length %></td>
        <td><%= @member.map_ties(map).length %></td>
        <td><%= all = @member.map_all(map).length %></td>
        <td><%= @member.map_win_percentage(map)%></td>
        <td><%= p = @team.get_plus_map map %></td>
        <td><%= m = @team.get_minus_map map %></td>
        <td><%= (all.to_f / @team.all_matches.length.to_f) * 100 %></td>
    </tr>
    <% end %>
    </tbody>
</table>
