<table class="grid">
    <thead>
    <tr>
        <th>Map</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ties</th>
        <th>Total</th>
        <th>Win%</th>
        <th>+</th>
        <th>-</th>
        <th>=</th>
        <th>Total%</th>
    </tr>
    </thead>
    <tbody>
    <% Map.all.each do |map| %>
    <tr>
        <td><%= map.name %></td>
        <td><%= wins = @member.map_wins(map).length %></td>
        <td><%= @member.map_losses(map).length %></td>
        <td><%= @member.map_ties(map).length %></td>
        <td><%= all = @member.map_all(map).length %></td>
        <td><%= percentage(wins, @member.matches.length) %></td>
        <td><%= p = @member.get_plus_map map %></td>
        <td><%= m = @member.get_minus_map map %></td>
        <td><%= p-m %></td>
        <td><%= percentage(all, @member.matches.length) %></td>
    </tr>
    <% end %>
    </tbody>
</table>
